@model HomeIndexViewModel
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <h1 class="display-4 text-center">Welcome</h1>

    <h3>Members</h3>
    <ul>
        @foreach (var member in Model.Members)
        {
            <li>@member.Name (@member.Number) </li>
        }
    </ul>
    <h3>Providers</h3>
    <ul>
        @foreach (var provider in Model.Providers)
        {
            <li>@provider.Name (@provider.Number) </li>
        }
    </ul>
    <h3>Provider Services</h3>
    <ul>
        @foreach (var providerService in Model.ProviderServices)
        {
            <li>@providerService.Name (@providerService.Code) </li>
        }
    </ul>
</div>
